


@@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');


.mydatagrid {
    width: auto;
    border: solid 2px blue;
    min-width: auto;
}

.header {
    background-color: blue;
    color: White;
    height: 18px;
    text-align: center;
    font-size: 16px;
}


.rows {
    background-color: #fff;
    font-family: Arial;
    font-size: 14px;
    color: #000;
    min-height: 20px;
    text-align: left;
}

    .rows:hover {
        background-color: #5badff;
        color: #fff;
    }

.mydatagrid a {
    padding: 5px 5px 5px 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover {
        background-color: #000;
        text-decoration: none;
        color: #fff;
    }

.mydatagrid span {
    background-color: #fff;
    color: #000;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #5badff;
    font-family: Arial;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid_footer {
    background-color: blue;
    color: white;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}
