

@import '~mdb-ui-kit/css/mdb.min.css';

a {
    font-size: 13px;
}

body {
    background-color: #fbfbfb;
}



#ContentPlaceHolder1 {
    margin-left: 250px;
}

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.site-footer {
    background-color: #fbfbfb;
    margin-top: auto;
    width: 100%;
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    color: black;
    text-align: center;
}

    .site-footer a {
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

        .site-footer a:hover {
            font-weight: bold;
            color: #4b4ee5;
            text-decoration: none;
        }


