@model IEnumerable<HRMSNUML.Models.AwardsCategory>

@{
    ViewBag.Title = "View Award Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card card-info mt-2 mx-auto">
        <div class="card-header" style="background-color: deepskyblue;">
            <h3 class="card-title">View Category</h3>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditAwardCategory", new { id = item.AwardCategoryId }) |
                    @Html.ActionLink("Delete", "DeleteAwardCategory", new { id = item.AwardCategoryId })
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-md-6">
            <label style="color: #17a2b8;">Back to Awards / Achievements Form </label>

            <div class="form-group">

                <a height="240px" class="btn btn-primary " href="AddAwards"> Back </a>
            </div>
        </div>
    </div>
</div>
